$light-accent: #2a7dfb;
$light-bg: #F6F6F6;
$light-bg-1: #fff;
$light-secondary: #C6CCD6;
$light-text: #000;
$light-text-comment: #8E96A3;

$dark-accent: #2a7dfb;
$dark-bg: #213757;
$dark-bg-1: #172A46;
$dark-secondary: #406295;
$dark-text: #8CA2C9;
$dark-text-comment: #6984B4;

$mobile: 1365px;
